@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');

:root { 
    --bg-color:#ecf0e6;
    --text-color: #510D0A; 
    --highlight-color-one: #5d7a5c;
    --highlight-color-two: #d99da0;
}
body { 
    background-color: var(--bg-color);
    color: var(--text-color);
}


.hero-section {
    height: 100vh;
    background-image: url("../images/homescreen.png"); /* your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero-text {
    text-align: center;
}


.first-name {
    font-family: 'Great Vibes';
    font-size: 10rem;
    color: var(--highlight-color-two); /* deep red */
    margin-bottom: -20px;
}


.last-name {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    color: var(--highlight-color-one); /* muted green */
}

/*this is the about me banner section*/

.intro-text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    color:var(--highlight-color-one);
}
.about-section {
    min-height: 100vh; /* full screen */
    padding-top: 80px; /* space for fixed navbar */
    padding-bottom: 40px;
}

/* Keep content centered vertically */
.about-section .container {
    max-width: 800px;
}





.footer {
	background-image: url("../images/b.png"); /* change to your image */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding: 60px 0;
	position: relative;
}

/* keep text above overlay */
.footer .container-fluid {
	position: relative;
	z-index: 1;
}
.footer {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}